body,html{
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif;
  height: 100%;
}
#app{
  background: #000000;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
}
.sidebar{
  background: #000000;
  min-width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  font-weight: normal;
  font-size: 1.0rem;
  padding: 10px;
  margin: 0;
  list-style-type: none;
  line-height: 175%;
  white-space: nowrap;
  overflow: hidden;
  text-wrap: none;
  text-overflow: ellipsis;
}
.precon{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 95%;
  overflow: hidden;
}
